<div class="container-fluid" style="padding-bottom: 70px">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h4>Profile: <strong><%= @user.name %></strong></h4>
          <div class="btn-group btn-group-justified" style="padding-bottom: 10px">
            <%= link_to "Created Events", user_path(created: true), class: "btn btn-primary btn-md primary-action" %>
            <%= link_to "Events Attending", user_path(upcoming: true), class: "btn btn-outline-primary btn-md secondary-action" %>
            <%= link_to "Past Events", user_path(past: true), class: "btn btn-outline-primary btn-md tertiary-action" %>
          </div>
        <%= render "events/feed" %>
    </div>
  </div>
</div>

