<div class="container" style="padding-bottom: 20px">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Profile: <strong><%= @user.name %></strong></h2>
        <hr>
          <div class="btn-group btn-group-justified">
            <%= link_to "Created Events", user_path(created: true), class: "btn btn-primary btn-md" %>
            <%= link_to "Upcoming Events", user_path(upcoming: true), class: "btn btn-primary btn-md" %>
            <%= link_to "Past Events", user_path(past: true), class: "btn btn-primary btn-md" %>
          </div>
        <%= render "events/feed" %>
    </div>
  </div>
</div>

