<p>
Profile for: <%= @user.name %>
</p>

<table>
    <th>Created Events</th>
<table>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Date</th>
  </tr>

  <% if @events.any? %>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= link_to event.description, event_path(event) %></td>
          <td><%= event.location %></td>
          <td><%= event.date %></td>
        </tr>
      <% end %>
  <% else %>
    <p> No events created. </p>
  <% end %>
<table>

  <table>
    <tr>
      <th>Past Evemts</th>
      <th></th>
    </tr>
    <% if @user.past_events.any? %>
      <% @user.past_events.each do |event| %>
        <tr>
          <td><%= link_to event.description, event_path(event) %></td>
        </tr>
      <% end %>
    <% else %>
      <td> No events to show. </td>
    <% end %>
  </table>

  <table>
    <tr>
      <th>Upcoming Events</th>
      <th></th>
    </tr>
    <% if @user.upcoming_events.any? %>
      <% @user.upcoming_events.each do |event| %>
        <tr>
          <td><%= link_to event.description, event_path(event) %></td>
        </tr>
      <% end %>
    <% else %>
      <td> No upcoming events. </td>
    <% end %>
  </table>
