<div class="result content-div" onclick="document.location='<%= event_path(event.id) %>'">
  <div class="text-align:left">
    <hr>
      <div class="media">
        <div class="media-left">
          <%= image_tag event.picture.thumb.url, alt: "event picture" if event.picture? %>
        </div>            
        <div class="media-body">
          <h5 class="media-heading"><%= event.title %></h5>
            <p><%= event.date.strftime("%a, %b %-d, %Y, %l:%M %p").upcase %></p>
            <p><%= event.location %></p>
          <br>
          <div class="user-count">
            <% if event.date < Time.zone.now %>
              <p><%= pluralize(event.attendees.count, 'Person') + ' went' if event.attendees.any? %>
            <% else %>
              <p><%= pluralize(event.attendees.count, 'Person') + ' going' if event.attendees.any? %>
                <% if event.distance_from_visitor %>
                  <span class="distance"><i class="fas fa-map-marker-alt"></i>
                  <%= event.distance_from_visitor.round(1) %> miles away</span>
                <% else %>
                  <% if event.attendees.count > 3 %>
                    <span class="popular"><span class="glyphicon glyphicon-star"></span> Popular</span>
                  <% end %>
                <% end %>
            <% end %></p>
          </div>
        </div>
      </div>
    <hr>
  </div>
</div>