<%= form_for event do |f| %>

  <% if event.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-warning">
      The form contains <%= pluralize(event.errors.count, "error") %>.
    </div>
      <ul>
        <% event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, style: "resize: none;", rows: "8", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, options = { ampm: true, minute_step: 5, start_year: Date.today.year, end_year: Date.today.year + 5, order: [:month, :day, :year], default: Time.zone.now } %>
  </div>

  <div class="field">
  <%= f.label :picture %><br>
  <%= f.file_field :picture, accept: 'image/jpg,image/jpeg,image/gif,image/png', class: "btn" %>
</div>

  <div class="actions">
    <%= f.submit button, class: "btn btn-lg" %>
  </div>

<% end %>