<h1>All Upcoming Events</h1>
 
<table>
  <tr>
    <th>Creator</th>
    <th>Title</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
 
  <% if Event.upcoming.any? %>
    <% Event.upcoming.each do |event| %>
      <tr>
        <td><%= link_to event.user.name, event.user %></td>
        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= event.location %></td>
        <td><%= event.date.strftime("%a, %b %d %Y at %I:%M %p") %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h1>All Past Events</h1>
 
<table>
  <tr>
    <th>Creator</th>
    <th>Title</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
 
  <% if Event.past.any? %>
    <% Event.past.each do |event| %>
      <tr>
        <td><%= link_to event.user.name, event.user %></td>
        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
      </tr>
    <% end %>
  <% end %>
</table>
