<div class="container text-center">

<h2>New Event</h2>

<%= form_for @event do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-warning">
      The form contains <%= pluralize(@event.errors.count, "error") %>.
    </div>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>


  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, options = {ampm: true, minute_step: 5, start_year: Date.today.year, end_year: Date.today.year + 5, order: [:month, :day, :year], default: Time.now} %>
  </div>

  <div class="field">
  <%= f.label :picture %><br>
  <%= f.file_field :picture, accept: 'image/jpg,image/jpeg,image/gif,image/png', class: "btn" %>
</div>
  
  <div class="actions">
    <%= f.submit "Create!", class: "btn btn-lg" %>
  </div>

<% end %>

</div>