<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Creator:</strong>
  <%= link_to @event.user.name, @event.user %>
</p>

<p>
  <strong>Attending:</strong>
  <% @event.attendees.each do |attendee| %>
  <p> <%= link_to attendee.name, attendee %> </p>
<% end %>
</p>


<% if current_user %>
<p>
  <% if current_user.id == @event.user_id %>
    <% if Event.upcoming.include?(@event) %>
      <%= link_to "Edit Event", edit_event_path(@event) %> |
    <% end %>
    <%= link_to "Delete Event", @event, method: :delete %>
</p>
<p>
  <% else %>
    <% if Event.upcoming.include?(@event) %>
      <% if current_user.attending?(@event) %>
        <%= form_for(current_user.active_rsvps.find_by(attended_event_id: @event.id), html: { method: :delete }, remote: true) do |f| %>
        <div><%= hidden_field_tag :attended_event_id, @event.id %></div>
        <%= f.submit "Leave Event", class: "btn" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.active_rsvps.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :attended_event_id, @event.id %></div>
        <%= f.submit "Attend Event", class: "btn" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</p>


