<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2" id="event-show">

      <h2><%= @event.title %></h2>
        <p><span class="event-attr">Creator:</span>
          <%= link_to @event.user.name, @event.user %></p>
        <p><%= @event.date.strftime("%a, %b %-d, %Y, %l:%M %p").upcase %></p>
        <p><%= @event.location %></p>
      <hr>
        <p><%= image_tag @event.picture.url, class: "responsive", alt: "event picture" if @event.picture? %></p>
        <hr>
        <p
          <% if @event.description.size > 75 %>
            style="text-align:justify"
          <% end %>>
          <span class="event-attr">Description:</span>
          <%= @event.description %>
        </p>
      <hr>

      <% if current_user %>
        <% if current_user.id == @event.user_id %>
            <p><span class="glyphicon glyphicon-edit"></span>
              <%= link_to " Edit", edit_event_path(@event) %>
            or
            <%= link_to "Delete", @event, method: :delete, data: { confirm: "Are you sure? This cannot be undone." } %>
            this Event</p>
        <% else %>
          <% if @event.date >= Time.zone.now %>
            <% if current_user.attending?(@event) %>
              <%= form_for(current_user.active_rsvps.find_by(attended_event_id: @event.id), html: { method: :delete }, remote: true) do |f| %>
                <div><%= hidden_field_tag :attended_event_id, @event.id %></div>
                <p class="actions"><%= f.submit "Leave Event", class: "btn btn-lg leave-button" %></p>
              <% end %>
            <% else %>
              <%= form_for(current_user.active_rsvps.build, remote: true) do |f| %>
                <div><%= hidden_field_tag :attended_event_id, @event.id %></div>
                <p class="actions"><%= f.submit "Attend Event", class: "btn btn-lg btn-success attend-button" %></p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p>To start attending events,
          <%= link_to "Log In", new_user_session_path %>
          or
          <%= link_to "Create an Account", new_user_registration_path %></p>
      <% end %>

      <p style="margin-bottom: 3px; padding-top: 15px;"><span class="event-attr">Attending:</span></p>
        <% if @event.attendees.any? %>
          <% @event.attendees.each do |attendee| %>
            <li class="attendees">
              <%= link_to attendee.name, attendee %></li>
            <% end %>
        <% else %>
          <p>(no attendees)</p>
        <% end %>
    </div>
  </div>
</div>