<!DOCTYPE html>
<html>
  <head>
    <title>Jazz-Brite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2184093665190920',
          xfbml      : true,
          version    : 'v3.1'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
      $('a').click(function(e) {
        e.preventDefault();
        FB.login(function(response) {
          console.log(response);
          if (response.authResponse) {
            $('#connect').html('Connected! Hitting OmniAuth callback (GET /auth/facebook/callback)...');
            $.getJSON('/users/auth/facebook/callback', function(json) {
              $('#connect').html('Connected! Callback complete.');
              $('#results').html(JSON.stringify(json));
            });
          }
        });
      });
    </script>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="color: white; background-color: hsl(228, 40%, 47%);">
            <span class="sr-only">Toggle navigation</span><i class="fas fa-bars"></i>
          </button>
            <%= link_to "Jazz-Brite", root_path, class: "navbar-brand" %>    
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Browse Events', events_path %><span class="sr-only">(current)</span></li>
            <li><%= link_to 'Create Event', new_event_path %></li>
            <% unless user_signed_in? %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
          </ul>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><%= link_to 'My Profile', current_user %></a></li>
                  <li><a href="#"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></a></li>
                  <li role="separator" class="divider"></li>
                  <% if current_user.provider != nil %>
                    <li><a href="#"><%= link_to "Cancel Account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></a></li>
                  <% else %>
                    <li><a href="#"><%= link_to 'Edit Account', edit_user_registration_path %></a></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
        </div>
      </div>
    </nav>         
        
  	<div class="container text-center">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>       
    <%= yield %>
  </body>
</html>
